<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreateUser</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main bg-gray-300 min-h-screen w-full">
        <form action="/create" method = "post">

            <input name = 'Name' placeholder = "Name" class="bg-gray-600 rounded-md">
            <input name = 'Name' placeholder = "Name" class="bg-gray-600 rounded-md">
            <input name = 'Name' placeholder = "Name" class="bg-gray-600 rounded-md">
            <input placeholder = "Submite" type="submit" class="bg-gray-600 rounded-md">
        </form>


    </div>
    
</body>
</html>