<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreateUser</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main bg-gray-300 min-h-screen w-full">
        <form action="/create" method = "post">

            <input name = 'name' placeholder = "Name" class="text-white bg-gray-600 rounded-md">
            <input 
                type="text"
                name="phone_number"
                placeholder="Enter Mobile Number"
                maxlength="10"
                inputmode="numeric"
                pattern="[0-9]{10}"
                required
                oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                class="bg-gray-600 rounded-md text-white">

            <input name = 'email' placeholder = "Email" class="text-white bg-gray-600 rounded-md" required>
            <input name = 'password' placeholder = "Password" class="text-white bg-gray-600 rounded-md" required>
            <input value = "Create" type="submit" class="bg-blue-600 text-white rounded-md p-1">
        </form>

       
    
    
</body>
</html>