<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main bg-gray-300 min-h-screen w-full p-24">

        <header>
        </header>

        <div class="cardss bg-white w-64 h-64 rounded-lg shadow-lg py-4 ">
            <div class="immg bg-gray-300 w-48 h-36 flex justify-center items-center mx-auto ">
                <img src="" alt="Product Image" class="h-full py-14 object-cover rounded-t-lg ">
            </div>

            <h1 class="py-2 text-l">Product Name</h1>
            <h1 class="text-m ">Pricing of the product</h1>
            <div class="but w-52 flex justify-center items-center">
                <a href="https://google.com" target = "_blank" class="bg-yellow-300 flex items-center align-center text-black w-32 rounded-md ">Add to cart</a>
            </div>
        </div>

    </div>
    
</body>
</html>