<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List new Product</title>
</head>
<body>
    <form action="/product/create" method="post">
        <input type="text" name="name" placeholder="Product Name">
        <input type="text" name="price" placeholder="Product Price">
        <input type="text" name="description" placeholder="Product Description">
        <input type="text" name="image" placeholder="Product Image">
        <button type="submit">Add Product</button>
    </form>
</body>
</html>